@charset "utf-8";
/* CSS Document */

body {
  background-color: #0A1319;
  overflow: hidden;
  width: 70%;
  margin: auto;
}

.logoText {
  position: absolute;
  top: 60px;
  left: 30vw;
  margin: auto;
  text-align: center;
}

.container {
  padding-top: 8vh;
}

#weatherContainer {
  display: none;
}

#deniedContainer {
  display: none;
}

#optionsContainer {
  display: none;
}

#customizeContainer
 {
  display: none;
}

#aboutContainer {
  display: none;
}

#privacyContainer {
  display: none;
}

#locationContainer {
  display: none;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.clearFloat {
  clear: both;
}

.lineBreak {
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: 5px;
  width: 250px;
  background-color: #FFFFFF;
  border-width: 0;
  border-radius: 5px;
  clear: both;
}

.baseTitle {
  font-family: Arial;
  font-size: 2.5vh;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
}

.baseText {
  font-family: Arial;
  font-size: 2vh;
  font-weight: 300;
  color: #FFFFFF;
  text-align: left;
}

.switchText {
  margin-top: 0.5vh;
  margin-left: 1vh;
  font-family: Arial;
  font-size: 2vh;
  font-weight: 300;
  color: #FFFFFF;
  text-align: left;
}

.baseButton {
  font-family: Arial;
  font-size: 2vh;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  border: 5px solid #FFFFFF;
  border-radius: 50px;
  padding: 1vh;
  margin-top: 3vh;
}

.space{
  padding-top: 2vh;
}

.themeButton {
  width: 4vh;
  height: 4vh;
  display: block;
  float: left;
  margin: 25px;
  border-radius: 15px;
  text-align: center;
}

#deniedIcon {
  text-align: center;
  width: 20vh;
  height: 20vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#optionsButton {
  position: absolute;
  top: 75px;
  right: 75px;
  display: none;
}

#backButton {
  position: absolute;
  top: 75px;
  right: 75px;
  display: none;
}

#exitButton {
  position: absolute;
  top: 75px;
  right: 75px;
  display: none;
}

#currentCity {
  font-family: Arial;
  font-size: 2.5vh;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
}

#lastUpdate {
  font-family: Arial;
  font-size: 2vh;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  text-transform:capitalize;
}

#currentConditions {
  font-family: Arial;
  font-size: 2vh;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  text-transform:capitalize;
}

#weatherIcon {
  text-align: center;
  width: 20vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#currentTemp {
  font-family: Arial;
  font-size: 10vh;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
}

#highTemp, #lowTemp {
  font-family: Arial;
  font-size: 4vh;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
}

#feelsLikeTemp {
  font-family: Arial;
  font-size: 2vh;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  margin-top: 50px;
}

#currentWind {
  font-family: Arial;
  font-size: 2.5vh;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
}

#theSun {
  font-family: Arial;
  font-size: 2.5vh;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
}

#sunRise {
  margin-left: 20px;
  margin-right: 10px;
}

#sunSet {
  margin-left: 10px;
  margin-right: 20px;
}

.forecastDay {
  font-family: Arial;
  font-size: 2.5vh;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
}

.onoffswitch {
    position: relative;
    width: 114px;
    float: left;
    display: block;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 65px; padding: 0; line-height: 65px;
    border: 0px solid #FFFFFF; border-radius: 50px;
    background-color: #B2B2B2;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 50px; margin: 7.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 45px;
    border-radius: 50px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #0087CC;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #0087CC;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
    background-color: #FFFFFF;
}
